
.active {
	color: #4E6FAE;
}
/*რიცხვი main-page*/
.a {
	width: 50px;
	height: 50px;
	background: #5012D5;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #84FF81;
	text-align: center;
	padding-top: 8px;
	margin-top: 40px;
}
.b {
	width: 780px;
	vertical-align: top;
	display: inline-block; 
	margin-left: 60px;
}
a {
	width: 150px;
    height: 34px;
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #8D81FF;
    margin-left: 60px;
}
nav {
	display: inline-block;
}
body {
	padding: 54px 52px;
}
section {
	margin-top: 52px;
}
.c {
	width: 447px;
	height: 280px;
	margin-top: 13px;
}
h1{
	margin-top: 18px;
    width: 119px;
    height: 34px;
    font-family: 'BPG Nino Mkhedruli';
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    color: #8D81FF;
}
h2 {
	margin-top: 8px;
    width: 578px;
    height: 34px;
    font-family: 'GL Tatishvili Metal';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #4E6FAE;
}
p {
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #4E6FAE;
}
h3 {
	/*width: 150px;
    height: 34px;*/
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #4E6FAE;
    display: inline-block;
}
h4 {
	/*width: 484px;
    height: 34px;*/
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    color: #4E6FAE;
    display: inline-block;
    margin-right: 400px;
}
.d{
	width: 500px;
    height: 192px;
    background: #E7E7E7;
    display: inline-block;
    margin-top: 26px;
    margin-right: 52px;
    box-sizing: border-box;
}
          /*news page*/
footer{
    margin-top: 93px;
}
.e{
	margin: 0px 41px;
}
.f{
	margin-left: 194px;
}
h5{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #3F4145;
    margin: 21px 23px;
}
.g{
	width: 335px;
    height: 95px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7E8898;
    display: inline-block;
    vertical-align: top;
    margin-left: 37px;
}

/*contacts page*/
.h{
	width: 1660px;
    height: 735px;
    background: #E7E7E7;
    display: inline-block;
}
h6{
	width: 474px;
    height: 34px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #4E6FAE;
}
.i {
	display: inline-block;
	box-sizing: border-box;
	padding: 93px 40px 0px 162px;
}
.j {
    font-family: 'Helvetica Neue LT GEO';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #7E8898;
    margin-top: 27px;
}
span {
	font-family: 'Helvetica Neue LT GEO';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #3F4145;
}
.k{
	display: inline-block;
}
iframe {
	display: inline-block;
	vertical-align: middle;
	width: 944px;
    height: 549px;
    padding-top: 100px;
}